{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
      <div class="container">
        {% for msg in app.flashes('danger') %}
          <div class="row">
            <div class="col-md-12">
              <div class="alert alert-danger">
                {{ msg }}
              </div>
            </div>
          </div>
          {% endfor %}
        <form class="form-group" action="{{ path('import_csv') }}" method="post" enctype="multipart/form-data">
          <input type="file" name="file" class="form-control">
          <input type="submit" value="Import" class="btn btn-primary">
        </form>
      </div>
    </div>
{% endblock %}
