{% extends 'base.html.twig' %}

{% block body %}

<script>
$(document).ready(function () {
    $("select").change(function () {
        var $this = $(this);
        var prevVal = $this.data("prev");
        var otherSelects = $("select").not(this);
        otherSelects.find("option[value=" + $(this).val() + "]").attr('disabled', true);
        if (prevVal) {
            otherSelects.find("option[value=" + prevVal + "]").attr('disabled', false);
        }

        $this.data("prev", $this.val());
    });
});
</script>

<div class="container">

  {% if app.session.flashBag.has('danger') %}
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="alert alert-danger">
            {% for msg in app.session.flashBag.get('danger') %}
                {{ msg }}
            {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}

  {{ form_start(form1) }}
  {{ form_widget(form1) }}
  {{ form_end(form1) }}

</div>
{% endblock %}
